<div class="container">
    <h1>About</h1>
    <p>This is the test exercise "Конвертер валют".</p>
    <h2>Description</h2>
    <span>Header с курсом валют</span>,<br>
    <ol>
        <li>В header-е необходимо отображать актуальный курс валют (USD, EUR) по отношению к гривне (UAH)</li>
        <li>Актуальный курс валют должен приходить с любого публичного API</li>
    </ol>
    <br>
    <span>Компонент с конвертацией</span>,<br>
    <ol>
        <li>Для одной валюты должен быть свой input и select.</li>
        <li>отдельный input + select для первой валюты, и отдельный input + select для второй валюты</li>
        <li>в input задается число, чтобы указать кол-во единиц для конвертирования</li>
        <li>в select должно быть не менее трех валют - UAH, USD, EUR.</li>
        <li>конвертация должна происходить в обоих направлениях</li>
        <ul>
            <li>при изменении значения в первой валюте, должно пересчитываться значение во второй, и наоборот</li>
            <li>при изменении валюты в каждом select-е, конвертация обеих валют должна пересчитываться корректно</li>
        </ul>
    </ol>   
    <span>Плюсом будет:</span>
    <ul>
        <li>Хорошо продуманный интерфейс и внешний вид</li>
        <li>Чистый код</li>
    </ul>
</div>
