    
<div class="container" *ngIf="rates">
    <h1>Currency Converter</h1>

    <input type="number" placeholder="amount" [(ngModel)]="amount">

    <br>
    <div class="cur">
    <label>From: </label>
    <select class="selector" [(ngModel)]="from" (change)="loadRates()">
        <option *ngFor="let c of getAllCurrencies()" [value]="c">{{c}}</option> 
    </select>

    <label>To: </label>
    <select class="selector" [(ngModel)]="to">
        <option *ngFor="let c of getAllCurrencies()" [value]="c">{{c}}</option> 
    </select>
    </div>
    <br>

    <p class="output" [style.color]="amount < 0 ? 'red' : ''">{{amount.toFixed(2)}} {{from}} = {{convert().toFixed(2)}} {{to}}</p>
</div>   

